body{
    margin: 0;
    padding: 0;
    background-color:#11294d;
    background-size: cover;
    font-family:sans-serif;
    height: 100vh;
    
    
    }
    
    .login-box{
        width: 320px;
        height: 420px;
        
        color: #fff;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%); 
        box-sizing: border-box;
        padding: 0px 30px;
    
    }
    
    
    .login-box .avatar {
        width: 100px;
        height: 100px;
    }
    
    .login-box h1{
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 40px;
    
    }
    
    .login-box label{
        margin: 0;
        padding: 0;
        font-weight: bold;
        display: block;
    
    }
    
    .login-box input{
    width: 100%;
    margin-bottom: 20px;
    
    }
    
    .login-box input[type="text"],
    .login-box input[type="password"] {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: red;
        font-size: 16px;
    
    }
    
    .login-box input[type="submit"] {
        
        height: 40px;
        background:transparent;
        border-color: black;
        color: aqua;
    
    
    }
    